body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgb(117, 4, 128);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(155, 13, 173);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(255, 251, 0);
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

input, textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(255, 217, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(255, 217, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(36, 218, 0);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(188, 31, 206);
    border-radius: 8px;
    background-color: rgb(245, 196, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family:'Times New Roman', Times, serif
}

#resume-display {
    color: rgb(0, 0, 0);
}

#resume-display h2 {
    color: rgb(224, 4, 4);
}

#resume-display h3 {
    color: rgb(111, 8, 122);
}

